
@model List<L02P02_2022AE650_2023CA651.Models.libros>

<h1>Libros del Autor</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre del Libro</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Acción</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var libro in Model)
        {
            <tr>
                <td>@libro.id</td>
                <td>@libro.nombre</td>
                <td>@libro.descripcion</td>
                <td>@libro.precio</td>
                <td>
                    @Html.ActionLink("Seleccionar", "Prototipo03", "Comentarios", new { id_libro = libro.id }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </tbody>
    </table>
